<section class="about-index">
  <header class="page-header">
      <h1>About</h1>
  </header>

  <div class="intro">
    <p>
      The best place to find your plants online!!!
    </p>
    
  </div>

</section>